/*Define The variables here*/
:root {
  /*Fonts variables*/
  --text-preset1: "fraunces-bold", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --text-preset1-size: 3.2rem;
  --text-preset1-line-height: 100%;
  --text-preset1-letter-spacing: 0rem;

  --text-preset2: "montaserrat-bold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset2-size: 1.4rem;
  --text-preset2-line-height: 110%;
  --text-preset2-letter-spacing: 0rem;
  /*We could define 1 variable for all medium, but I make them seperate to learn and follow the design file*/
  --text-preset3: "montaserrat-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset3-size: 1.4rem;
  --text-preset3-line-height: 160%;
  --text-preset3-letter-spacing: 0rem;

  --text-preset4: "montaserrat-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset4-size: 1.2rem;
  --text-preset4-line-height: 120%;
  --text-preset4-letter-spacing: 0.5rem;

  --text-preset5: "montaserrat-medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset5-size: 1.3rem;
  --text-preset5-line-height: 120%;
  --text-preset5-letter-spacing: 0rem;

  /*Color variabels*/
  --primary-green-500: hsl(158, 36%, 37%);
  --primary-green-700: hsl(158, 42%, 18%);
  --netural-color-black: hsl(212, 21%, 14%);
  --netural-color-white: hsl(0, 0%, 100%);
  --netural-color-gray: hsl(228, 12%, 48%);
  --netural-color-cream: hsl(30, 38%, 92%);

  /*Spacing variables*/
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-200: 2.4rem;
  --spacing-100: 1.6rem;
  --spacing-50: 0.4rem;
}

/*HTML Styles*/
html {
  font-size: 62.5%; /*This will make the base font size = 10px = 1rem, any px value converte it by 10 will result into rem equvalent value*/
}

/*Body Styles*/
body {
  font-size: 1.4rem; /*This will = 14px on the base line that we defined upove.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 12px 172px 13px;
  background: var(--netural-color-cream);

  .main {
    .card-wrapper {
      /*Mobile-first approach one column*/
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .card-image-wrapper {
        align-self: stretch;
        height: 342px;

        background-image: url("../images/image-product-mobile.jpg");
        background-color: lightgray;
        background-position: -0.18px -51.686px;
        background-repeat: no-repeat;
        background-size: 108.286% 115.766%;

        border-radius: 0.7rem 0.7rem 0rem 0rem;
      }
      .card-content {
        
        .card-title {
          .item-category-name {
          }
          .item-name {
          }
          .item-description {
          }
        }
        .price-content {
          .current-price {
          }
          .last-price {
          }
        }
        .purchase-button {
          .button-icon {
          }
        }
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  margin-block-start: var(--spacing-100);

  .attribution {
    font-size: 11px;
    text-align: center;
    ul {
      padding-inline: 0rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--spacing-50);
      li {
        a {
          color: hsl(228, 45%, 44%);
        }
      }
    }
  }
}
